/* Limit width */
.quill-wrapper {
    /* width: 90%; */
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

/* Gradient toolbar */
.custom-quill .ql-toolbar {
    background: linear-gradient(to right, #d45208, #f77f1e);
    color: white;
    border: 1px solid #d45208;
    border-bottom: none;
}

/* Editor area */
.custom-quill .ql-container {
    background-color: #fff8ed;
    border: 1px solid #d45208;
}

/* Textarea height and style */
.custom-quill .ql-editor {
    min-height: 150px;
    font-size: 15px;
    color: #333;
}

/* Placeholder */
.custom-quill .ql-editor.ql-blank::before {
    color: #999;
    font-style: normal;
}

/* Characters left text */
.char-limit {
    text-align: right;
    color: #666;
    margin-top: 4px;
    font-size: 14px;
}

/* Error text */
.error-text {
    color: #d45208;
    margin-top: 4px;
    font-size: 14px;
}